@import "tailwindcss";
html, body {
    scroll-behavior: smooth;
}
@font-face {
    font-family: "Geist";
    src: local("Geist"),
    url("assets/fonts/Geist/Geist-VariableFont_wght.ttf") format("TrueType");
}
@theme {
    --font-general: "Geist", "sans serif";
}


